---
title: "Co-created Classroom Norms"
summary: "Student agency in establishing a fair and productive classroom culture"
tags: ["classroom", "pro-social", "agency"]
sections: ["classroom_management"]
---

# Co-Create Classroom Norms
Co-create classroom norms to establish the importance of listening, sharing and building on each other's work as essential skills in adult life.