<script>
  import ImageCollage from '$lib/ImageCollage/ImageCollage.svelte';
  import stem_meditations from './../../../assets/images/products/stem_meditations.jpg?enhanced&w=300;600;1200;2000&format=webp';
</script>

# Stem Meditations

Combining modern tech with education to make seemingly mundane lessons palatable. 

You can view these physics meditatios on [Spotify](https://open.spotify.com/album/5csV743mINz7bY6b5uX8Wo)

<ImageCollage images={[stem_meditations]}  />
