

/* Fonts */
:root:not([data-theme=dark]), [data-theme=light]{
  /* Main background */
  --pico-background-color: white;
  --pico-secondary-background: #c9c9c9;

  /* Text color */
  --pico-color: red;

  /* Borders and muted elements */
  --pico-muted-border-color: rgba(255, 255, 255, 0.3);

  /* Primary colors */
  --pico-primary: red;
  --pico-primary-hover: #8b5cf6;
  --pico-primary-focus: rgba(124, 58, 237, 0.4);
}
/* [data-theme=light] {
  --pico-background-color: yellow;

  --pico-color: green;

  --pico-muted-border-color: rgba(255, 255, 255, 0.3);

  --pico-primary: pink;
  --pico-primary-hover: #8b5cf6;
  --pico-primary-focus: rgba(124, 58, 237, 0.4);
} */

html {
  scroll-behavior: smooth;
}

/* Body text & links use Poiret One */
body {
  font-family: var(--font-body);
  background: var(--pico-background-color);
}
    

section {
  padding: 100px 0;
  border-bottom: 1px solid var(--pico-muted-border-color);
}
/* A4 page wrapper */
.a4-page {
  width: 21cm;
  height: 29.7cm;
  margin: 2rem auto;
  padding: 2cm;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  border: 2px solid var(--text-muted);
  box-sizing: border-box;
  overflow: auto;
}


.a4-page * {
  max-width: 100%;
  box-sizing: border-box;
}


  .page {
    min-height: 100vh; /* Make each section at least one full viewport height */
    display: flex;     /* Enable flexbox for centering */
    align-items: center; /* Vertical centering */
    justify-content: center; /* Optional: horizontal centering */
    flex-direction: column;  /* Keep text and elements stacked */
    padding: 2rem;           /* Still allow for some breathing space */
    border-bottom: 5px solid var(--pico-primary);
    box-sizing: border-box;
    background: var(--pico-background-color); /* ✅ Matches global background */
  }

  .page-content{
    max-width: 600px;
    margin: auto;
    text-align: left;
  }


/* Narrow screen: collapse sidebar */
@media (max-width: 768px) {


.max-width-small{
  max-width: 300px;
  display:inline-block;
}
.max-width-medium{
  max-width: 500px;
  display:inline-block;
}
.max-width-large{
  max-width: 800px;
  display:inline-block;
}
.padding-vertical-small{
  padding-top:10px;
  padding-bottom:10px;
}
.padding-vertical-medium{
  padding-top:20px;
  padding-bottom:20px;
}
.padding-vertical-large{
  padding-top:40px;   
  padding-bottom:40px;
}
.margin-vertical-small{
  margin-top:10px;
  margin-bottom:10px;
}
.margin-vertical-medium{
  margin-top:20px;
  margin-bottom:20px;
}
.margin-vertical-large{
  margin-top:40px;   
  margin-bottom:40px;
}